[2019-05-31 00:02] Ergouzii opened #2 "Typo in README"
Hi, I discovered Quota today and it helped me with my project :)
But I found one typo in README.md. Under "usage", you have:
jQuery Example
[code]

There is one extra right parenthesis after `'https://quota.glitch.me/random'`
It should be: `$.getJSON('https://quota.glitch.me/random', function(data) {...`

[2019-05-31 18:42] lukePeavey commented on #2
Im glad you were able to use quota in one of your projects!

Thanks for pointing this out. If you would like to fix it, you're welcome to submit a pull request. Otherwise I'll go ahead and fix. Thanks again

[2019-05-31 18:52] Ergouzii commented on #2
Sure I will make a PR :)

[2019-05-31 20:42] #2 closed

[2019-09-05 11:47] marekdano opened #5 "Suggestion: Add API for getting a quote by its ID"
I'll be great if there is an API to get a quote by its ID.

The suggested API:

### Request
[code]

### Response
[code]

[2019-09-11 14:51] lukePeavey commented on #5
I think its a good idea, especially since there is a similar method for authors.

[2019-09-11 15:42] lukePeavey commented on #5
If you want to work on this, that would awesome

[2019-09-12 10:47] marekdano opened #6 "Add guide for new contributors."
I'm a new contributor. It'll be really great if a brief contributing guide exists in this project. Having a CONTRIBUTING.md file or something else with the contributing instructions.

So far I found that I need to do following steps before doing any changes in the codebase.

1. Making sure that Node and MongoDB are installed on my local machine
2. Create database of "quotable" on MongoDB
3. Pass e

[2019-09-19 14:30] #5 closed

[2019-09-23 17:13] lukePeavey commented on #6
Below is an initial draft of Contributor Guidelines. Please let me know if you have any feedback!

[2019-09-23 17:13] lukePeavey commented on #6
All contributions are greatly appreciated!!

## Issues

- Feature requests/enhancements
- Bug reports
- Questions/feedback

## Pull Requests

1. [Fork][fork-a-repo] the repository on GitHub.

2. [Clone][cloning-a-repo] the forked repo to your local machine.

3. Create a new [feature branch][feature-branch] from master

4. Commit your changes

5. Push your changes back up to your fork.

6. When you

[2019-09-24 11:49] marekdano commented on #6
Thanks for the putting it down, @lukePeavey!!! It's a very good guide. I have a just small comment.

* I'd modify the sentence with the name of the database in the section of Create a database

*Follow the instruction in the getting started guide to provision a new database called **quotable**.*

[2019-09-24 12:02] marekdano opened #8 "[Feature Request] Add tag(s) to quotes"
I'm just considering to extend API with a new feature - selecting quotes by a tag name. But firstly each quote object has to contain *tag* or *tags* property in it. I'm not sure how hard is to add tag/tags to each quote since my English is not my native language. What do you think?

[2019-10-01 20:32] lukePeavey commented on #8
I think this would be a great feature!  I will work on adding the additional metadata to the quotes, assigning one or more tags to each quote. Here is list of possible tags:

- famous-quotes
- life
- friendship
- science
- technology
- inspirational
- motivational
- literature
- art
- business
- love
- success
- religion
- social-justice

In terms of the API, i think there should be a method to ge

[2019-10-01 22:32] marekdano commented on #8
Hi, @lukePeavey. I agree with your suggestions to have a new API of `/tags` for a list of tags and to modify existing `/quotes` to filter by tag name(s). I think we can have a param of *tags* that can have tag names separated by a comma, something like `/quotes?tags=love,art` or just have `/quotes?tag=love` for a single tag name. What do you think?

I'm open to help with APIs when tags are defined

[2019-10-04 13:22] #6 closed

[2019-11-16 01:46] jastuccio opened #10 "Not working? https://api.quotable.io/random does not load in browser"
I thought it would be pretty cool to use an API from another FCCer!  I was having trouble with the script and pointed my browser to several quotable.io domains.  They did not load.  Maybe this API got hammered with huge bandwidth?

[2019-12-09 20:44] pomarka commented on #10
+1 I would also like to to use this API and it's not working :(

[2019-12-12 15:17] Jazzyb21 commented on #10
Yeah, it was working for a while but it randomly stopped.

[2019-12-17 19:41] umn-aj commented on #10
Its down right now

[2019-12-17 20:25] umn-aj opened #11 "Server is down"
I am wondering when the server will be back ? Thanks

[2019-12-17 20:52] lukePeavey commented on #11
It should be up and running now. Try it again and let me know if you are still having trouble.

[2019-12-17 21:08] lukePeavey commented on #11
We have been having some issues with occasional downtime/slow response time effecting a small percentage of requests.

I'm in the process of making some deployment changes that should address this and provide more consistent performance going forward.

In the mean time, I just ran tests in Postman and the API is working. When you have a chance, please let me know if it is working on your end. Than

[2019-12-17 21:36] umn-aj commented on #11
Thank you very much. It works perfectly. I really appreciate your quick response.

[2019-12-17 21:36] #11 closed

[2019-12-17 21:47] lukePeavey commented on #10
Hey everyone, sorry it took me a while to respond to this issue.

I am making some deployment changes that should provide more consistent uptime and performance going forward.

Please try the API again and let me know if it working for you now!

thanks

[2019-12-17 21:52] lukePeavey commented on #11
Awesome!  Let me know if this happens again

[2019-12-19 15:36] jastuccio commented on #10
Luke,

 I am really new to working with APIs. Not sure how to test this to determine what is goint on.

It was giving me a CORS error on my macbook using both FF and chrome. I created [a repl.it](https://repl.it/@jastuccio/quotable-testl) and don't see anything in the console there either.

https://api.quotable.io/random does not load from ff, chrome, or opera

It is being reported as down: https:

[2019-12-24 00:00] thebrucecgit commented on #10
+1 I would love to continue using this API

[2019-12-24 08:59] lukePeavey commented on #10
@jastuccio

The API is **not** down right now.

The website for this project is still under construction. So right now the root URL (api.quotable.io/) just responds with a `404` error.

I just changed this so now the root url redirects to the GitHub repository (until website is complete)

[2019-12-24 09:26] lukePeavey commented on #10
@jastuccio

I looked at your example on repl.it. There was a small error in your javascript (missing function call). Once you fix that, it works fine :)

Here is the updated version of your code ([try it on Repl.it](https://repl.it/@LUKEPEAVEY/quotable-test))

[code]

Here are a few more live examples you can try out:

[Basic Random Quote Example (CodePen)](https://codepen.io/lukePeavey/pen/RwNVeQ

[2019-12-24 14:54] HiltonGiesenow opened #14 "Multiple Spelling / Grammar Errors"
First of all, thanks **so much** for this project, I'm using inside a personal project of my own and love seeing the quotes!

There are, unfortunately, a whole bunch of spelling and grammar errors in a lot of the quotes. I'd love to help with these, but they're not part of the project itself, as far as I can see. Is there a way I could get access to the data store to help, if you'd like me to pitc

[2019-12-24 14:55] HiltonGiesenow commented on #14
lol - I misspelled "grammar" above ;)

[2019-12-24 14:59] HiltonGiesenow opened #15 "[Feature Request] Web Links For Authors"
A lot of the authors in the quotes have bios that would be interesting to read, especially those on, say, Wikipedia. My feature request is to add these somehow (I guess in the Authors collection, if not into the quotes themselves (de-normalised, effectively, for ease of consumption).

Would you consider adding a "link" field (and possible even a photo url field) to the authors collection? I'd be h

[2019-12-25 15:09] lukePeavey commented on #8
@marekdano

Sorry about the long delay. I've been really busy at work lately, so I haven't had much time to work on this.

I am still working on adding tags to all the existing quotes in the database. This is a pretty slow process, since it requires reading through the quotes and coming up with tags for each one (If anyone wants to help with this, let me know).

Anyway, I've added enough tags that

[2019-12-25 15:13] lukePeavey commented on #8
I agree, the `tags` parameter should accept a list of one or more tags. I was thinking that it could support two types of lists: comma separated (for `AND`) or pipe `|` separated (for `OR`).

So a pipe separated list would match quotes that have `any` of the specified tags, whereas a comma separated list would match quotes with `all` the specified tags.

**Examples**

This would match quotes with

[2019-12-26 10:11] thebrucecgit commented on #10
@lukePeavey The website is still down, and is shown as is on isitdownrightnow.com

[2019-12-27 00:46] Nepaltechguy2 commented on #10
Is the server being hugged to death?

[2019-12-27 05:50] lukePeavey commented on #10
@thebrucecgit

OK, no worries

[2019-12-27 16:27] marekdano commented on #8
I like your suggestion, @lukePeavey! I can start working on it over my holidays.

[2019-12-27 19:44] lukePeavey commented on #8
Sounds good!

[2019-12-28 05:48] lukePeavey commented on #10
I am going to close this issue now.

@jastuccio, if your issue has not been addressed/resolved, please let me know and I will reopen this.

If anyone else is having trouble, please create a new issue with a detailed description of the problem.

Thanks

[2019-12-28 05:49] #10 closed

[2019-12-31 05:55] jastuccio opened #16 "Error: A server with the specified hostname could not be found"
Luke,

  Sorry for not getting back to you before you closed issue 10.  Things have been a little crazy over the holidays.  I feel like quotable worked when you first linked the codepen and code sandbox, but after several more attempts it is not working for me over the past couple of days.

I tried FF Dev, Chrome and Safari browsers.

[code]

Here are some screenshots of the errors from Safari/cod

[2020-01-01 02:42] zakir360hossain commented on #10
I am having the same issue. I am trying to search this API (api.quotable.io/random) but it's throwing the following error:

This site can’t be reached
api.quotable.io’s server IP address could not be found.
DNS_PROBE_FINISHED_NXDOMAIN

*The confusing part is that it works perfectly when searched from a Windows machine, but not from mac.
I have tried the following steps, but so far unsuccessful:
1.

[2020-01-01 03:17] lukePeavey commented on #16
I am looking into this... will respond shortly

[2020-01-07 08:47] AndyTempel commented on #11
I'm going to re-open because of this:
`curl: (6) Could not resolve host: api.quotable.io`

[2020-01-07 11:38] lukePeavey commented on #10
@zakir360hossain this issue has been closed in favor of #16. would you mind reposting your comment there?

[2020-01-07 11:43] lukePeavey commented on #16
I'm still not sure what's causing this. This issue only effects certain users, not everyone.

I found that when I connect to VPN on my local machine, I get this error 100% of the time. I also get this error 100% of the time over certain wifi networks, but not others.

Will update you as soon as I have more info.

[2020-01-07 11:49] lukePeavey opened #18 "Downtime"
**Jan 6 2020**

API was down from 12pm to 8pm.

[2020-01-07 12:41] lukePeavey commented on #16
If you are experiencing this issue you may see different error messages depending on what API client you are using.

In chrome,

[code]

[2020-01-08 03:21] jastuccio commented on #16
Thanks Luke.  I'd like to help whoever diagnoses this.  Have you posted on dev.to or someplace to find someone?

* I am on MacOS 10.15.2
* disabled privacy badger for chrome
* turned VPN off and on
* tried Opera

Here is a screenshot of the error from the codepen sample.

<img width="722" alt="Screen Shot 2020-01-07 at 22 19 41" src="https://user-images.githubusercontent.com/2707569/71947760-db782

[2020-01-09 00:29] lukePeavey commented on #18
**Jan 8, 2020**

API is currently down for maintenance.

In an effort to fix #16, I am making some changes to DNS setting that may result in downtime.

[2020-01-09 00:35] lukePeavey commented on #16
Try using this domain and see if it works as expected.

https://quotable.dev/random

[2020-01-09 13:34] lukePeavey commented on #16
@jastuccio

There was an issue with the DNS configuration for the quotable.io domain which was preventing it from resolving with DNSSEC-aware resolvers.

Fixing that seems to have solved the problem. The API now works from any network/device and while connected to VPN. Please confirm if this is true on your end.

[2020-01-09 13:34] lukePeavey commented on #16
Also, these sites are no longer showing api.quotable.io as down...

https://www.isitdownrightnow.com/api.quotable.io.html

https://downforeveryoneorjustme.com/api.quotable.io

[2020-01-09 14:23] jastuccio commented on #16
Luke,

Both demos and the url are working for me today.  I tested with the VPN also no issues.  Good job!

[https://api.quotable.io/random](https://api.quotable.io/random)

[codesandbox demo](https://codesandbox.io/s/quotable-demo-react-e7zm1?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.js&theme=dark)

[codepen demo](https://codepen.io/lukePeavey/pen/RwNVeQG)

[2020-01-10 04:14] lukePeavey commented on #10
@zakir360hossain

This has been fixed. See #16

[2020-01-13 03:20] #18 closed

[2020-01-14 15:12] #16 closed

[2020-01-29 09:50] marekdano commented on #8
Is someone working on adding tags to quotes?

[2020-01-29 23:54] Dragonsight91 opened #19 "[Feature Request] Get a quote with a maximum length"
**The Request**
What would be really nice is the ability to use a GET parameter to specify the maximum or minimum length of a desired quote.
like this:

**Expected Behavior:**
`https://api.quotable.io/random?maxlen=50` => gives a random quote with a length of no more than 50 characters
`https://api.quotable.io/random?minlen?=20` => gives a quote with at least 20 char length.
and so on.

**Suggesti

[2020-01-31 17:22] lukePeavey commented on #19
I think this would be a great feature to add!  If you would like to work on it you're welcome to submit a PR. Totally up you.

[2020-02-01 08:51] marekdano commented on #8
@lukePeavey, thank you for adding tags to quotes! I'll work on API now.

[2020-02-01 13:43] lukePeavey commented on #8
@marekdano Sounds good!

Here is what we have left to do to complete this feature

- Add a `tags` field to the `Quote` schema
- Update `listQuotes`, `getQuoteById`, and `randomQuote` to include the `tags` field results
- Update the relevant tests
- Add the `tags` parameter to `randomQuote` and `listQuote`

One possible way to implement the `tags` filter would be something this...

[code]

Let me k

[2020-02-01 22:18] marekdano commented on #8
@lukePeavey, I agree with your suggestions! I'm fully on it 😄.

[2020-02-06 03:14] nonotest commented on #8
Hi guys,

is any extra help needed for this feature?

happy to contribute.

[2020-02-08 21:45] Dragonsight91 commented on #19
Although my experiences with Node and mongodb are quite limited, i'll most definitely try.

[2020-02-09 10:38] lukePeavey commented on #8
@nonotest

The only thing I know of that still needs to be done is updating [the documentation](https://github.com/lukePeavey/quotable#get-tags) for the `/tags` endpoint. It should include the following query parameters (added in #24).

- param: sortBy
    type: `enum: ["name", "quoteCount"]`
    description: The field used to sort tags. Default is name.

- param: sortOrder
    type: `enum: ["asc"

[2020-02-10 13:26] lukePeavey opened #25 "[Docs] Update documentation for tags endpoint"
**1.  Update documentation for tags endpoint**

[README#get-tags](https://github.com/lukePeavey/quotable#get-tags) should include a section with the following query parameters

- param: sortBy
   type: `enum: ["name", "quoteCount"]`
   description: The field used to sort tags. Default is name.

- param: sortOrder
   type: `enum: ["asc", "desc"]`
   description: The order in which results are sorte

[2020-02-10 16:12] lukePeavey commented on #8
🚀Just deployed the latest changes, the should be live now :)

[2020-02-12 00:27] #19 closed

[2020-02-12 02:52] lukePeavey commented on #8
@marekdano Great contribution!

[2020-02-12 02:52] #8 closed

[2020-03-15 08:54] khanhuynh opened #27 "Get a detailed quote does not include "tag" field."
## Description

The method `/quotes/:id` does not return the expected response.

### Steps to reproduce

1. Make a request to
[code]

### Expected result

The response should be an object with the following fields

[code]

### Actual result

Response does not include fields `tags` or `length`

### Environment

NA

[2020-03-15 12:00] lukePeavey opened #28 "Endpoint /authors/:id does not return expected response"
## Description

The method `/authors/:id` does not return the correct response.

### Steps to reproduce

1. Open Chrome or Postman
2. Make a request to
[code]

### Expected result

The response should be an object with the following fields

[code]

### Actual result

Response:

[code]

The items in `quotes` do not have the correct fields.

### Environment

NA

[2020-03-15 12:12] lukePeavey commented on #28
## Steps to fix

There is a mistake on the following line:
https://github.com/lukePeavey/quotable/blob/ac601ea5482d6fa37147e3d5058dc2802b546fd4/src/controllers/authors/getAuthorById.js#L22

It should select all fields _except_  `__v` and `authorId`:

[code]

[2020-03-15 12:33] lukePeavey commented on #27
Thanks. This was actually fixed in a recent commit(64b4c4f859a06ef1bcb77cf9973a633c9c300a33) but the changes had not been deployed yet. (It should be working now)

There is similar issue with the `/authors/:id` endpoint that still needs to be fixed (#28).

[2020-03-21 12:42] lukePeavey commented on #27
Could you confirm if this is working on your end now? If so, I’ll go ahead and close this

[2020-03-22 22:58] #27 closed

[2020-03-22 22:58] #28 closed

[2020-03-30 13:47] lukePeavey opened #31 "[Feature] Search quotes"
# Description

An API method to search quotes. It should allow people to search for quotes by `content`, `author`, and possibly `tags`.  Ideally, search results should be sorted by relevance.

## API

[code]

**Query Params**

| param | type     | Description                                                   |
| :---- | :------- | :------------------------------------------------------------ |
| q

[2020-04-03 12:07] marekdano commented on #31
@lukePeavey how do you expect the search should work when there is one search endpoint with the general `query` param? When we get `query`, should we search first by `content`, `author`, and then `tags` and display the quotes in this order?

[2020-04-19 10:35] lukePeavey commented on #15
First, sorry it took me a while to respond to this issue! This is a great idea. I've wanted to do this for a while but had been putting it off.

### Done:

Added the following fields to all authors:

- `link` the person's wikipedia page.
- `bio` A short description about the person

I also cleaned up the authors collection. I removed all the duplicates, fixed incorrect and incomplete names, and re

[2020-04-19 11:05] lukePeavey commented on #14
Glad you are enjoying it! There are quite a few errors in the quotes.  I working on this now.  I've just finished overhauling the authors collection. My next step is cleaning up the existing quotes and adding new ones. If you are interesting in helping maintain/edit the quotes, let me know!

[2020-05-14 19:08] mitramejia commented on #31
@lukePeavey or @marekdano is there a reason to have a `search/quotes?query=test` instead of `quotes?query=test`? I'm not very experienced in REST API design so  I might be missing something obvious, please let me know what do you think.

[2020-05-14 19:28] marekdano commented on #31
@mitramejia I'd prefer to have an endpoint of `search/...`. But I wanted to know in my comment above, what to search. Will the API search for quotes by their content only? Or we'll have the endpoint which will cover also search for quotes by the content of `author` name, and `tags` names? So when we enter a `query` term, the API checks a quote content, author, and tags or just quote content?
What

[2020-05-24 04:26] lukePeavey commented on #31
@marekdano to answer your initial question...

There are a few different ways we could implement the search feature...

### Text Search

Initially, I was thinking that this method would search by content, author name and tags simultaneously and sort the results based on text matching score.  This would be useful for a search bar where the user could search for quotes by typing in a person's name,

[2020-05-24 04:58] lukePeavey commented on #31
@mitramejia

Either way would work, but I think it makes sense to have separate search endpoints.

[2020-05-24 05:04] lukePeavey commented on #31
@marekdano @mitramejia Let me know what you guys think.

[2020-08-13 20:39] koyuul opened #34 "The Servers Seem Down?"
I can't access either the official api or the branch.

[2020-08-14 07:25] itsSiddharthGupta commented on #34
True

[2020-08-14 19:01] nickglovdev commented on #34
Happening to me as well. Trying to use it for project.

[2020-08-17 12:23] lukePeavey commented on #34
Thanks for letting me know I'll into this today!

[2020-08-17 12:37] lukePeavey commented on #34
Sorry about that... The DNSSEC key expired on august 13th and needed to be updated. It should be working now! let me know if you are still having trouble.

[2020-08-18 11:25] itsSiddharthGupta commented on #34
Its working now

[2020-08-31 03:16] #31 closed

[2020-12-14 10:44] LeCodeurSpatial commented on #15
It would be great to have an author's profile picture.  &#128077;
I would suggest to add url as image field and maintaining pinterest library of authors for uniformity. I am making pinterest library of authors with grayscale images for my project.
Also, data sample need an update with new records of

- author bio and
- author web link.

[2020-12-15 14:27] lukePeavey commented on #15
@LeCodeurSpatial I just updated the sample data.

[2020-12-15 14:33] lukePeavey commented on #15
I am currently working on adding author images. I hope to have some time next weekend to work on this, we can discuss it more then :)

[2020-12-17 20:01] LeCodeurSpatial commented on #15
@lukePeavey Nice! Surely will be up for discussion. :raised_hands:

[2020-12-18 06:36] lukePeavey commented on #15
I think we should create a separate issue for the author images feature.

@LeCodeurSpatial
would you mind opening a new issue?

[2020-12-18 10:24] LeCodeurSpatial opened #38 "(Feature Request) Author Image"
## Author Image Feature
### Feature Request
- To add author_image field or author_image_link field.

This update will look to add another feature in feature-rich Quote API.
It would be amazing to have the author's image along with the quote and bio.

[2020-12-18 10:25] LeCodeurSpatial commented on #15
Done!

[2020-12-22 19:49] lukePeavey commented on #38
Sorry about the delay...

I have profile images for all of the current authors now (720).  I think it makes sense to host the images ourselves, rather than using a third party (like wikipedia).

What size images do you think would be ideal? The actual size of the images varies. The smallest are around 200px, most are >= 600px.  One possibility would be to generate two image sizes, a thumbnail (ie

[2020-12-23 19:45] LeCodeurSpatial commented on #38
No worries!

Great Job collecting 720 images, must have been tedious.
I tried collecting a few earlier last weekend and only finished with alphabet 'A'. I had a grayscale theme in mind as well, took some time getting them and editing handful.

I looked at your image collection, went through some. Having a custom library like what you have done with Google Albums is a way better idea for the projec

[2021-01-04 20:29] lukePeavey commented on #38
Quick update...
I went through the photos again and replaced most of the smaller images. So all of the original images are now > 700px wide.

We can use [sharp](https://sharp.pixelplumbing.com/) to automate image resizing/processing. I like your idea of using grayscale for all the profile images.  A lot of the author images are already in black and white, so I think it feels more consistent to hav

[2021-01-04 20:36] lukePeavey commented on #38
I am going to setup an image hosting server on AWS.

My plan is:

1. Setup an S3 bucket to store the original (un-modified) images.
2. Setup a Serverless function (AWS Lambda) that automatically generates all the required image sizes every time a photo is added or modified in the original images bucket; then saves the resized images to a separate bucket using a specific naming convention, (ie `ori

[2021-01-10 21:15] lein1013 opened #40 "[Feature Request] Random quote by specific author"
I wonder if there is a way to get quotes just from one or several selected authors?
like
`GET /random?authorid=zgMVt2guVo7p,qsaptKSHuLDU`
or
`GET /random?author="Zig Ziglar","Laozi"`

[2021-01-11 00:43] lukePeavey commented on #40
That's a good idea. We can definitely do that

[2021-01-11 11:19] lukePeavey commented on #40
One thought....

The `tags` param takes a comma separated list, which translates to an `AND`  query (with "tag-one" `AND` "tag-two"), or a `|` separated list, which translates to an `OR` query (with "tag-one" `OR` "tag-two").

For consistency, would it make sense for this param to take a `|` separated  list  since its an `OR` query (by "author-one" `OR` "author-two").

Let me know what you think.

[2021-01-11 11:26] lukePeavey commented on #40
If you would like to submit a PR for this, please feel free. If not, I can do it next weekend.

https://github.com/lukePeavey/quotable/blob/7e854722d3fb67ebc013e331ca789cf82da95e54/src/controllers/quotes/randomQuote.js#L12-L14

[code]

[2021-01-21 17:19] raxraj commented on #25
Hey @lukePeavey, as I can see in the README, I believe it is still open. Shall I proceed?

[2021-01-23 17:19] raxraj commented on #40
@lukePeavey,
First of all, I like this so much, I use it almost every time that I could.
Is this still open? I am up for this.

[2021-01-23 20:49] DanielXYZ2000 commented on #40
Nothing done from my side, but I would be happy to see this feature soon :-)

[2021-01-23 20:51] lein1013 commented on #40
Nothing done from my side, but I would be happy to see this feature soon :-)

[2021-01-24 02:20] lukePeavey commented on #40
@raxraj did you want to work on this? If so it's all yours

[2021-01-24 02:42] lukePeavey commented on #25
Closed by #44

[2021-01-24 02:42] #25 closed

[2021-01-24 03:06] raxraj commented on #40
@lukePeavey @lein1013 , Awesome,
I'll get right on it.

[2021-01-27 11:23] RutvikJ77 opened #46 "Bug report - Server not found."
Cannot access the specified API URL anymore. As well as the try in browser links in readme are currently dead.
![Screenshot 2021-01-27 at 4 52 29 PM](https://user-images.githubusercontent.com/45565999/105984396-10656580-60c0-11eb-8dad-d5fb30f483fd.png)

[2021-01-28 02:31] techmaharaj commented on #46
Same error at my end too.

[2021-01-28 05:43] raxraj commented on #46
@lukePeavey, We need you here man!

http://api.quotable.io/

![image](https://user-images.githubusercontent.com/41513907/106095421-ccbf3a00-6159-11eb-8703-9cdde22b33a9.png)

[2021-01-29 18:26] sheshnathiicmr commented on #46
+1

[2021-01-30 22:37] lukePeavey commented on #46
Working on this now!

[2021-01-30 22:48] lukePeavey commented on #46
This has been fixed. Sorry for the inconvenience everyone. Please let me know if are still having trouble reaching the server.

[2021-01-30 23:03] #40 closed

[2021-01-31 05:14] #46 closed

[2021-02-04 15:00] raxraj opened #48 "docs(listQuotes): Add author param"
In the `/quotes`, we have a query parameter to fetch quotes by using the author name Screenshot attached.
![image](https://user-images.githubusercontent.com/41513907/106910916-b0a63480-6727-11eb-8996-2c7e824e2887.png)

__But It is not documented__.
It is required to be updated.

[2021-02-27 17:08] dippas opened #49 "List Quotes: Max query is wrong in documentation"
In the documentation you have `Max: 100`
![image](https://user-images.githubusercontent.com/10220287/109394251-f799db00-791d-11eb-8a41-65639caefcad.png)

But  if we set `https://api.quotable.io/quotes?limit=100` (or any number above 50, the count will always be 50.

![image](https://user-images.githubusercontent.com/10220287/109394312-48113880-791e-11eb-97c2-43a5f24544b6.png)

Can the limit be 100

[2021-02-27 17:15] dippas commented on #38
@lukePeavey  at this point how can I get the image/thumbnail from the author, you said you already did that but I can't find the image/property when `GET /quotes` or even `GET /random`, am I missing something obvious? Thanks :)

[2021-02-27 17:30] dippas commented on #15
@lukePeavey  sorry to bother you again, but I have the same issue (as images) on how to get bio with any get request, could you please enlighten me  ?

[2021-02-27 18:32] lukePeavey commented on #15
@dippas

The `bio` field is included on authors returned by the `/authors` or `/authors/:id` endpoint.  If you are trying to get the bio for the author of a quote returned one of the quotes endpoints (`/quotes/ or `/random`) you would need to make a separate request to get author details using the author name or id. Let me know if this answers your question.

Example ([try in browser](http://api.q

[2021-02-27 18:37] lukePeavey commented on #38
This feature has not been added yet.  I have profile images for all of the authors. But I still need to set up some type of image hosting. Once that is ready, we will add an `image` field (or something like that) to the authors.

As soon as I have a block of free time to work on it, I will try to get this done.

[2021-02-27 18:40] dippas commented on #38
@lukePeavey  thanks, I am using (at the moment) the wikipedia API to get the image of the author (if exists).

I'll be waiting then :)

[2021-02-27 18:41] dippas commented on #15
@lukePeavey  thanks, I knew I was missing something basic .

But maybe adding this info in readme?

[2021-02-27 18:59] lukePeavey commented on #49
The limit was suppose to be `100`. It looks like this got changed by mistake at some point.  I'd rather not remove the limit entirely, but we can increase it to 150 if you want.

Would you like to submit a PR to make this change? If not, I can take care of it.

## Steps to fix

### List Quotes Endpoint

To change the maximum limit, edit this line of code.

https://github.com/lukePeavey/quotable/bl

[2021-02-27 19:03] lukePeavey commented on #15
We can definitely add something to the docs to clarify this.

[2021-02-27 19:04] lukePeavey commented on #38
Hi everyone, I apologize for the holdup on the author images feature. Work has been very busy lately so I haven't had a lot of time to work on this 😞

[2021-02-27 19:38] dippas commented on #38
@lukePeavey  can you give a roughly estimate when you'll have this done?

[2021-02-27 19:40] dippas commented on #49
@lukePeavey  PR made

[2021-02-28 22:09] lukePeavey commented on #38
@dippas Hopefully within the next month.

[2021-03-01 02:17] #49 closed

[2021-03-02 05:13] lukePeavey commented on #48
@raxraj

The` name` param is going to be replaced by several other features in the near future. I removed it from the public docs pending these changes in case it ends up getting removed.

### Search for authors by name

The `name` param uses regex matching to support search-like behavior. This feature is being replaced by a separate search endpoint (`/search/authors/`) that is intended to power a

[2021-03-02 05:30] lukePeavey commented on #14
@HiltonGiesenow

I just wanted to follow up one more time before I close this issue. I've done quite a lot of work on improving the quality of the content since you originally posted this.

- Removed all duplicate authors (authors with slightly different names that refer to the same person).
- Removed all unknown authors (anyone without a wikipedia page or website)
- All author names now match the

[2021-03-02 15:36] lukePeavey commented on #38
For anyone who wants to start using the images feature right away, here is a temporary solution.  The final API for images will probably be a bit different, but this will continue to work in the future as well, so it's safe to use.

URLs for author profile images can be constructed in the following way. All images are JPEG format with a `.jpg` extension. All authors should have a profile image.

#

[2021-03-03 02:51] lukePeavey commented on #38
Please use discussion #52 to report missing/broken images.

[2021-03-06 18:38] raxraj commented on #48
Okay! @lukePeavey ,
Let me get that done, I think it must be in the doc, and whenever we get the slug feature back in, we can remove the same.

[2021-03-06 18:39] lukePeavey commented on #48
Ok, sounds good.

[2021-03-06 21:07] #14 closed

[2021-03-07 00:41] lukePeavey commented on #48
I forgot that quotes don't have an `authorId` field anymore.

Right now, the `name` param is only way to get additional details about the author of a quote returned by the `/random` or `/quotes` endpoint.  So you're right, it should definitely be in the docs until we add another way to do that.

[2021-03-12 09:47] raxraj opened #55 "Quotes Redundancy: Zig Ziglar has One quote 2 times"
Reporting Zig Ziglar Redundant quote

![image](https://user-images.githubusercontent.com/41513907/110922770-1b114c80-8346-11eb-99ce-1edeba593c9a.png)

[2021-03-13 20:33] lukePeavey commented on #55
Thanks for letting me know.  I thought I had removed all the duplicates already. But it looks like there are still 9 duplicate quotes in the collection. I will remove them as soon as possible.

[code]

[2021-03-13 21:58] lukePeavey commented on #55
I removed the rest of the duplicate quotes and pushed the changes to the database.

[code]
---

[code]
[code]

[2021-03-13 21:58] #55 closed

[2021-03-14 04:30] raxraj commented on #55
@lukePeavey, Great :)

[2021-03-14 04:38] lukePeavey commented on #15
I'm going to close this issue. We have added the following fields to authors:

- `link` URL to the authors wikipedia page
- `bio` A brief, one paragraph bio of the author (source: wiki API)
- `description` A one-line description of the author, usually the person's nationality and primary occupation. For example, "Austrian Physicist" or "American Author" (source: wiki API / Google)

I am still work

[2021-03-14 04:47] #15 closed

[2021-03-14 06:17] lukePeavey commented on #48
Sorry, I just realized that I misread your issue. I thought you were talking about the **`name`** param on the `/authors` endpoint 🤪 .

[2021-03-14 06:43] lukePeavey commented on #48
Anyway, both params were removed from the docs at the same time pending possible changes. But I agree it makes sense to leave it in the docs in the meantime.

[2021-03-14 18:26] raxraj commented on #48
It's an honest mistake :) Awesome.

[2021-03-15 13:00] lukePeavey commented on #48
Thanks!

[2021-03-15 13:00] #48 closed

[2021-03-22 08:13] lukePeavey commented on #38
Here is an updated example

<img width="1045" alt="Screen Shot 2021-03-22 at 4 05 59 AM" src="https://user-images.githubusercontent.com/8286271/111958710-f0509200-8ac3-11eb-9399-b0a1e047c662.png">

[![Edit Quotable Author Profile Images](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/quotable-author-profile-images-6jibs?fontsize=14&hidenavigation=1&theme=dark)

P

[2021-04-19 16:32] roceb opened #62 "API is currently down"
api.quotable.io is currently not working. Tried from multiple pc and IP address to verify. As well as checked isitdownrightnow.com to verify.

[2021-04-19 23:55] lukePeavey commented on #62
Ok I'll look into this

[2021-04-19 23:59] lukePeavey commented on #62
Yup, can confirm the server is partially down right now. I'll fix ASAP

[2021-04-20 02:58] lukePeavey commented on #62
This has been fixed.  It was an issue with the DNSSEC configuration.  Let me know if it's working for you now.

[isitdownrightnow](https://www.isitdownrightnow.com/api.quotable.io.html) shows the server as up

[2021-04-20 04:25] roceb commented on #62
I can confirm, API is up and running. Thanks.

[2021-04-20 06:20] Amitsharma45 commented on #62
API is not working .

[2021-04-20 17:41] roceb commented on #62
I just double checked, working for me. What endpoint are you trying to hit?

[2021-04-20 20:47] lukePeavey commented on #62
@Amitsharma45 Are you still having issues connecting to the API?  If you go to api.quotable.io in your browser, does the site load?

[downfor.io/api.quotable.io](https://downforeveryoneorjustme.com/api.quotable.io)
[isitdownrightnow.com/api.quotable.io](https://www.isitdownrightnow.com/api.quotable.io.html)

[2021-04-22 07:40] #62 closed

[2021-04-22 07:41] roceb commented on #62
Closed it since it seems to be up.

[2021-04-22 14:21] lukePeavey commented on #62
@roceb thanks for reporting this!

[2021-05-07 17:11] dippas commented on #38
@lukePeavey   I'm probably missing something simple but whenever I try to make the request with this endpoint  - just an example - https://images.quotable.dev/profile/200/a-a-milne It gives me. Cannot get Profile.

I've looked at your example but as I'm not a React dev  I can't figure it out what is wrong.

P.S. I'm using the fetch API to retrieve the data

[2021-05-07 17:53] dippas opened #63 "enhancement(/quotes): get quotes with author details"
@lukePeavey  would be very handy if we could have the `link` (eventually the `bio`) on the `/quotes` endpoint

[2021-05-11 03:03] kamransagheir opened #66 "AND filter is broken for tag based query"
The AND filer does not work. It just takes the first tag and returns quotes based on that i.e., if I do,  https://api.quotable.io/random?tags= famous-quotes,friendship or  https://api.quotable.io/random?tags=wisdom,friendship the API returns quotes based on, famous-quotes and wisdom respectively.

[2021-05-11 04:08] #66 closed

[2021-05-13 02:29] lukePeavey commented on #66
Could you please provide more info

[2021-05-13 16:31] raxraj commented on #63
@dippas,
@lukePeavey
Even I was thinking about this, I think it will add things to the project, as not only serving quotes but serving application requirements, where the user might need more info.

[2021-05-15 19:55] lukePeavey opened #70 "Improve pagination API"
## Summary

Add support for page number based pagination. This approach is simpler and more intuitive. It also requires less code on the client side to implement common pagination patterns.

This feature can be added on top of the current API without any breaking changes.

### Example

Get the second page of results, with 50 results per page.

[code]

### New Parameters

Add a `page` parameter to

[2021-05-16 03:32] lukePeavey commented on #63
@dippas @raxraj
I have thought about this too. Getting a quote, or list of quotes, with the author details (like bio, description, profile image etc) is a common use case. I definitely agree it would be nice if you could do this with a single request.

### How to do this with the current API

This is not really documented at the moment, so I just wanted to clarify how you would do this with the cu

[2021-05-16 15:39] dippas commented on #63
@lukePeavey  yes I made this request because I'm making a block with quote of the day (a fun-sided project) and this feature would help me in order to make only one call to API

[2021-05-17 02:41] lukePeavey commented on #63
I agree, it would be ideal if you could get quote(s) and the corresponding author(s) in a single request.

[2021-05-17 04:22] raxraj commented on #63
@lukePeavey , fine assign this to me. I will work on this one.

[2021-05-23 10:24] raxraj opened #71 "[Documentation] Incorrect install command in CONTRIBUTING.md"
The install dependency command says
[code]
While it should be
[code]

[2021-05-23 10:36] raxraj commented on #63
@lukePeavey ,
Are we going to work on this any time soon?

[2021-05-23 16:42] lukePeavey commented on #71
Good catch

[2021-05-23 17:07] lukePeavey commented on #63
Hey guys,
If it's OK with you, I'd like to hold off on this for a bit.  I want to think a bit more about the best way to solve the underlying issue (how to get quotes and the corresponding author details) before we move ahead with making changes.

[2021-05-24 02:56] #71 closed

[2021-05-24 02:56] #70 closed

[2021-05-26 18:44] raxraj commented on #63
On a second thought, I think the `quote` endpoint should not give polluted response.
It serves it's purpose.
Along with which it provides author ID I was wondering again, that do we really need that.

[2021-06-14 13:07] Theskyspace opened #78 "Typos"
There are a considerable amount of typos in the quotes.

[2021-06-15 03:37] lukePeavey commented on #78
Would you mind re-posting this in the discussions section. There is a category for content-related issues. You can [create a new discussion here](https://github.com/lukePeavey/quotable/discussions/categories/quotable-data).  Thanks

[2021-06-16 05:26] Theskyspace commented on #78
Yeah sure

[2021-06-24 02:44] #78 closed

[2021-06-28 09:55] KVROHITH098 opened #84 "Upgrade"
this has to be upgraded to version 9.1.0.7 can we or not we have to do it urgently

[2021-06-30 03:56] FarhanMuftiHilmy opened #85 "My Quote can run locally but not in Vercel"
I'm using react axios to call this api, here is the code
[code]
it ran perfectly when i ran it locally, but when i deployed it to vercel and visited the site, the quote wasn't showing, any clue?

[2021-06-30 14:40] lukePeavey commented on #85
When you load the deployed version of the site, are there any errors is the console?

[2021-07-01 05:59] lukePeavey commented on #85
I think I see the problem... you are using the non-secure URL, so the request is probably getting blocked.  **Try using `HTTPS` instead of `HTTP`**

[code]
[live example](https://codesandbox.io/s/quotable-issue-85-z4ive?file=/src/index.js)

[2021-07-02 23:51] lukePeavey commented on #85
I'm going close this, but feel free to comment if you are still having trouble.

[2021-07-02 23:51] #85 closed

[2021-07-11 16:33] MSSIDDIQUE opened #86 "API is down"

[2021-07-11 16:51] sheshnathiicmr commented on #86
+1

[2021-07-11 19:02] prasad444 commented on #86
Happening to me as well.

[2021-07-12 01:51] xmartgithub commented on #86
Same happening to me as well.

[2021-07-12 07:05] looper-ops commented on #86
Not working for me as well.

[2021-07-12 18:01] jimmyxp01 commented on #86
I'm facing the same problem. Location -India

[2021-07-13 01:54] yogeshgosavi commented on #86
+1

[2021-07-13 02:06] lukePeavey commented on #86
Ill look into it

[2021-07-13 02:26] lukePeavey commented on #86
## Resolved

This has been fixed. Sorry for the inconvenience everyone.

[2021-07-13 02:28] xmartgithub commented on #86
Thank you @Luke

On Tue, Jul 13, 2021, 7:27 AM Luke Peavey ***@***.***> wrote:

[2021-07-13 02:31] lukePeavey commented on #86
@MSSIDDIQUE Thanks for reporting this.

[2021-07-13 03:55] Pratik-karale-099 opened #87 "apis down"

[2021-07-13 04:06] sheshnathiicmr commented on #86
@lukePeavey Thanks for this wonderful resource and free service that somehow we Indian loves :D, Maybe you can use https://www.statuscake.com to monitor downtime, in the free version we can monitor one URL, you see here also I am using free one :D

[2021-07-13 08:19] jimmyxp01 commented on #86
@lukePeavey It's still not working.
My code:
[code]
I'm getting this error Error
[code]

[2021-07-13 12:16] lukePeavey commented on #87
Duplicate of #87

[2021-07-13 12:16] #87 closed

[2021-07-13 12:24] lukePeavey commented on #86
@jimmyxp01 do you get a response when you call the API directly in your browser?

[2021-07-13 12:30] lukePeavey commented on #86
The downtime was caused by an expired DNSSEC key, which expired on July 11.

It was fixed on July 12 (last night). The API should be working now.

Both of these sites are showing that the API is up now.

[isitdownrightnow](https://www.isitdownrightnow.com/api.quotable.io.html)

[downforeveryoneorjustme](https://downforeveryoneorjustme.com/api.quotable.io)

[2021-07-13 13:12] jimmyxp01 commented on #86
@lukePeavey a Few hours ago it's open in the browser and gives a JSON response back. But In python, it's failed.
At this time API is down in my location (INDIA). But When I use VPN it's working properly.

[2021-07-13 13:14] jimmyxp01 commented on #86
@lukePeavey
response: `requests.exceptions.ConnectionError: HTTPConnectionPool(host='api.quotable.io', port=80): Max retries exceeded with url: /random (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x00000297D932BA60>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))`

[2021-07-13 22:19] lukePeavey commented on #86
@jimmyxp01 It can take up to 72 hours for DNS changes to propagate worldwide.  Based on your location, it might take a little longer for the changes to take effect.

Hopefully the API should be working again for you shortly.  If not, let me know.

Again, sorry for the inconvenience.

[2021-07-13 22:33] #86 closed

[2021-07-13 22:34] lukePeavey commented on #84
No idea what you are talking about

[2021-07-13 22:34] #84 closed

[2021-07-13 22:35] lukePeavey commented on #84
If you are referring to a dependency that needs to be upgraded, please provide some more details and I'll reopen this

[2021-07-23 02:15] aekewu opened #91 "He"
## Description

Describe the feature you would like to add.

[2021-07-23 06:53] #91 closed

[2021-07-23 08:10] KVROHITH098 commented on #84
Ok I will thank you.

[2021-07-24 11:13] ernestomehra opened #92 "Please update the README.md to get quotes by authorSlug and not author"
**Describe the bug**
Documentation states that to get quotes by author, user needs to hit API endpoint /quotes?author=albert-einstein although this does not work, should be updated to use authorSlug instead of author in the payload because that works. See attached snapshot.

**To Reproduce**
1. Open an API client (Postman or Chrome)
2. Make the following API request `staging.quotable.io/quotes?aut

[2021-07-30 07:46] lukePeavey commented on #92
Thanks for reporting this!  The current documentation is correct, so this appears to be a bug.

## How it should work

There are two ways to get all quotes by an author.

**1.  The `author` param, which accepts an author `name` or `slug`**

[code]

**2.  The `authorId` param, which accepts an author `_id`**.

[code]

`authorSlug` is not a supported param. It took me a minute to realize this, but y

[2021-07-30 08:40] lukePeavey commented on #92
**This has been fixed**

At some point I connected the staging server to a different Atlas cluster while I was testing out some database changes.  This was caused by issues with that database.

Let me know if it's working for you now.

Thanks again for reporting this.

[2021-07-30 09:07] lukePeavey commented on #92
It might make sense to remove the staging server URL from the documentation.

I recently downgraded it to a free Dyno to offset other project costs, so it no longer supports SSL and sleeps when inactive.

I also periodically use it for testing out backend changes, which can cause it to behave unexpectedly at times.

Let me know what you think.

[2021-07-30 11:47] ernestomehra commented on #92
Thanks for looking at this promptly.
Sorry, I should have explicitly mentioned `Staging` as the test environment.

Yes, I think there should be one environment for this. No more multiple environments to look at since we want to keep resource usage to minimum.

I was creating an API automation project and found your project very well-suited. Thanks for creating it in the first place.

[2021-08-28 03:17] LuisFernandoLG opened #93 "HTTPS certificate"
## Description
I tried to fetch some data from my webapp, but the request failed, well it's just the https certificate.
Thnks c:

**Error:**
_"Mixed Content: The page at 'https://typing-applg.netlify.app/#/' was loaded over HTTPS, but requested an insecure resource 'http://staging.quotable.io/quotes?maxLength=200&minLength=100&limit=10'. This request has been blocked; the content must be served ov

[2021-08-28 17:04] raxraj commented on #93
Hey @LuisFernandoLG,
You are using the staging version of the API, kindly try using `https://api.quotable.io/` in there. It must work fine.

[2021-08-28 20:27] LuisFernandoLG commented on #93
Thnks c':

[2021-08-28 20:27] #93 closed

[2021-08-30 03:35] lukePeavey commented on #93
@raxraj thanks!

[2021-10-03 06:09] adyanth opened #94 "Quotable DNS down?"
**Describe the bug**
Quotable DNS domain seems to not have any records, causing all API requests to fail.

**To Reproduce**
See https://www.nslookup.io/dns-records/quotable.io#authoritative

[2021-10-14 00:10] #94 closed

[2021-10-17 06:13] lukePeavey commented on #38
Fixed all broken/missing images. Every author now has a profile image.

<img width="1002" alt="Screen Shot 2021-10-17 at 1 47 57 AM" src="https://user-images.githubusercontent.com/8286271/137613751-091526f9-2b79-46a8-8e56-df7be71d7350.png">

[![Edit Quotable Author Profile Images (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/quotable-author-profile-ima

[2021-11-07 09:16] Mohammadshahzaib007 opened #97 "Search Author by name or keyword."
## Description

There is no feature to search authors by their names, something like this.
`https://quotable.io/authors?searchKeyword=einstein`

If we hit the same endpoint with slug param it returns 0 (zero) results.
`https://api.quotable.io/authors?slug=einstein`

[2021-11-07 19:38] lukePeavey commented on #97
There actually is a search feature, its just not documented.  I was planning to do some more work on it, so I think I was holding off on adding the docs until the API was finalized.

We should definitely add it the docs so people can try it out.

[2021-11-07 20:15] lukePeavey commented on #97
Here are the general docs for the current search feature. Feel free to try it out and let me know if you have any feedback.

There are two search endpoints, one for authors and one for quotes.  They are powered by [Atlas Search](https://docs.atlas.mongodb.com/atlas-search/)

## Search Authors

This endpoint allows you search for authors by name. It is intended to power a search bar with autocomple

[2021-11-07 20:27] lukePeavey commented on #97
@Mohammadshahzaib007 Sorry, I didn't notice you had closed this already before I commented. If you don't mind, I am going to re-open this since we need to add this feature to docs.

[2021-11-08 04:23] Mohammadshahzaib007 commented on #97
Ya sure @lukePeavey, you can reopen it.

[2021-11-08 17:58] lukePeavey commented on #97
Does anyone want to submit a PR to add the search feature to documentation?

[2021-11-12 20:38] #97 closed

[2021-12-24 22:49] gigadeplex commented on #94
it's down again

[2021-12-24 23:19] lukePeavey commented on #94
Maybe I'll check

On Fri, Dec 24, 2021, 5:49 PM Giga de Plex ***@***.***> wrote:

[2021-12-24 23:20] lukePeavey commented on #94
Yes it's down... will fix asap

[2021-12-24 23:26] lukePeavey commented on #94
Fixed. May take a few hours to propagate. Sorry for the inconvenience

[2021-12-25 00:38] lukePeavey commented on #94
![image](https://user-images.githubusercontent.com/8286271/147374971-875b32e3-1068-431d-baa8-a2ad0daade09.jpeg)

[2021-12-28 14:55] eben-vranken opened #102 "Query parameter to search for quotes without certain characters"
## Description

I'm currently building a [typing game](https://github.com/eben-vranken/typerless) that's powered by this API.
But there is one issue: Sometimes the API generates a Quote with a special apostrophe that requires an alt code to write.
Currently, I do have an in-code fix, but would be nice to have a GET request with this feature.

[2022-01-02 07:18] raxraj commented on #102
@lukePeavey,
Are we looking into this.
This seems to be a legit add-on.

[2022-01-02 07:26] raxraj commented on #63
@lukePeavey, on second thought,
I was just sitting thinking about a solution to this, Can we add another property to all the quotes returned.
Something like this
[code]

And then the end-product can get the author as per requirements.

[2022-01-05 00:46] lukePeavey commented on #102
Hey, sorry just seeing this now.  Yes, we can definitely look into a fix for this.

Just to clarify, what special character are you referring to?

[2022-01-05 08:54] eben-vranken commented on #102
The character I'm referring to is: ’

[2022-01-07 18:53] lukePeavey commented on #102
That's weird... there are 58 of those in the quotes collection.  I am going to replace them with a regular single quote character.

[2022-01-07 18:55] lukePeavey commented on #102
Are there any other special characters that are causing problems in your app?

[2022-01-07 18:58] lukePeavey commented on #102
If you would like to look at the complete source data for the API, its available here:

https://github.com/quotable-io/data

[2022-01-07 18:58] eben-vranken commented on #102
No that was it! Thanks

[2022-01-07 18:58] lukePeavey commented on #102
Cool I'll let you know once I fix that

[2022-01-07 19:09] lukePeavey commented on #102
Fixed (see b1e2bf127ab65343d4301dac02d498926dcad48c).

Just synced changes with database, should be live now.

[2022-01-07 19:48] lukePeavey commented on #102
Do you think we still need a filter param to get quotes without certain chars or does this resolves the issue?

CC @raxraj

[2022-01-07 19:52] raxraj commented on #102
Issue is resolved
That's great.

@lukePeavey
I was thinking of some sort Word filter.
Like where the user might not want a specific word to be appearing on quotes.

I will create a separate issue with the whole idea and the concept on how we can do it.

We can close this one.

[2022-01-07 22:59] lukePeavey commented on #102
@raxraj sounds good

[2022-01-07 23:12] lukePeavey commented on #102
@eben-vranken let me know when you have tested this out. If the issue is resolved on your end we can close.

[2022-01-07 23:20] eben-vranken commented on #102
Im going to review it later, i'll keep you updated

[2022-01-13 11:40] TekinaTawar opened #104 "Quotes in other languages."
It would be helpful if other then English you can get quotes in other languages based on request.

[2022-01-14 06:22] lukePeavey commented on #104
We can definitely look into this.

[2022-01-14 11:16] lukePeavey commented on #102
@eben-vranken I'm going to close this. Feel free to re-open the issue if you have an additional problems.

[2022-01-14 11:16] #102 closed

[2022-01-30 12:57] TekinaTawar commented on #104
In my case I was looking for quotes in German and Hindi (an Indian language), for a typing practice project I was making.

[2022-01-31 05:19] lukePeavey commented on #104
It would be great to provide content in multiple languages.

We could use a translation API, like Google Cloud Translate to translate the database into multiple languages.  I looked into it, and it would it not be hard to do. But it will probably produce rough translations at best.

If you would like to try this, I can translate a batch of quotes into German and Hindi. Would you be willing to revi

[2022-01-31 22:44] lukePeavey commented on #104
Here is a sample of 30 random quotes, translated into French (FR), German (DE), Spanish (ES), and Hindi (HI) using the [Google Cloud Translate](https://github.com/googleapis/nodejs-translate) API.

If anyone is able to provide feedback on the quality on the translations, that would be appreciated. I am guessing the translations are not very good, but I figured it was worth a try.

---
[code]

[2022-02-05 09:05] TekinaTawar commented on #104
Out of these languages I can give my opinion on Hindi translations.
Translations are pretty accurate, though they are in kind of "Hindi" that I would call too pure. But still It is very useful at least for my purpose.

[2022-02-05 12:54] usmandilmeer opened #110 "Quotes in Urdu language"
## Description

I am working on a project that requires a English quotes in Urdu(ur) language. Can you please 🥺 add this language, if you can I will be very happy 😊

[2022-02-05 13:00] usmandilmeer commented on #104
I Loved it........❤️
Please add these language and also Urdu language please 🥺

[2022-02-05 13:36] usmandilmeer commented on #104
Please add Urdu(ur) language...

[2022-02-06 06:57] #110 closed

[2022-02-06 06:59] lukePeavey commented on #110
Duplicate of #104

[2022-02-06 07:06] lukePeavey commented on #104
I will look into this

[2022-02-06 08:10] usmandilmeer commented on #104
@lukePeavey thanks 😊 for replying.. waiting for your...

[2022-02-07 08:29] usmandilmeer opened #111 "Two lines short poetry"
## Description
Hi can you please add two lines poetry in database.. I didn't find two lines short poetry api on internet.. I am working on project that require Short poetry

[2022-02-10 08:18] lukePeavey commented on #111
This is just a quotations API, no poetry.  sorry 😞

[2022-02-10 08:18] #111 closed

[2022-03-16 21:39] UltiRequiem opened #117 "Endpoint with all the available Tags"
## Description

It would be very useful 🚀

[2022-03-17 00:43] lukePeavey commented on #117
The `/tags` endpoint returns a list of all tags (see [documentation](https://github.com/lukePeavey/quotable#list-tags))

Usage ([try in browser](https://api.quotable.io/tags))

[code]

[2022-03-17 00:59] UltiRequiem commented on #117
didn't read that, thanks!

[2022-03-17 00:59] #117 closed

[2022-03-17 00:59] lukePeavey commented on #117
No problem.

[2022-06-09 05:14] Gal1leo03 opened #123 "Api down :("
**Describe the bug**
Error message :- `Failed host lookup: 'api.quotable.io' (OS Error: No address associated with hostname,`
![image](https://user-images.githubusercontent.com/96709942/172769331-64d78474-82a4-43fc-bece-2eab1cb972de.png)

**To Reproduce**
1. Open an API client (Postman or Chrome)
2. Make any API request

[code]

[2022-06-09 06:21] NeevJewalkar commented on #123
+1 got the same error

[2022-06-09 08:26] dmitry-voronoff commented on #123
Same for me

[2022-06-09 14:38] iGerman00 commented on #123
Same here

[2022-06-09 18:05] Himanshu3101 commented on #123
Please fix this...

[2022-06-10 04:13] egoTr commented on #123
I got the same error. 😥

[2022-06-10 04:18] aloyr commented on #123
same

[2022-06-10 06:23] SatyamDevv commented on #123
Same here I just started using yesterday anyone know new api like this

[2022-06-10 06:46] rudrankriyam commented on #123
@aloyr seems to work now, can you check?

[code]

[2022-06-10 08:27] usmandilmeer commented on #123
Api is not working...

[2022-06-10 15:58] lukePeavey commented on #123
Working on it...

[2022-06-17 07:52] charlessnow opened #125 "API down again."
**Describe the bug**
Some error occurred that made the api unusable.
**To Reproduce**
1. I Made the following API request

[code]

**Expected Response**
The api request result is as follows:
![image](https://user-images.githubusercontent.com/15224389/174251430-79eb0efd-6955-476c-b154-88d94faad5e6.png)
Please check the situation,Thank you.

[2022-06-17 08:06] khushalpatel1 opened #126 "Api Down"
Api is again down please fix....

[2022-06-17 08:08] egoTr commented on #125
I got the same error. 😥

[2022-06-17 08:13] khushalpatel1 commented on #125
same error

[2022-06-17 11:21] khushalpatel1 opened #128 "Still down api..."
Sir api is down please fix it....

[2022-06-17 12:34] khushalpatel1 opened #129 "api slow down"
Now api working but very slow some time working or some time not working...

[2022-06-17 13:58] khushalpatel1 opened #130 "Api Down"
### Discussed in https://github.com/lukePeavey/quotable/discussions/127

<div type='discussions-op-text'>

<sup>Originally posted by **khushalpatel1** June 17, 2022</sup>
Hello sir api is not woring please help...</div>

[2022-06-17 14:46] khushalpatel1 opened #131 "Application error"
![image](https://user-images.githubusercontent.com/36466172/174321442-ff2de9a8-c284-4e4d-91c9-f4f31654b7ab.png)

[2022-06-17 14:47] mcewball13 commented on #131
I've got this too!

[2022-06-17 18:11] lukePeavey commented on #125
**I am looking into this now.** I will provide an update as soon as I known more.

[2022-06-17 18:17] #126 closed

[2022-06-17 18:17] #128 closed

[2022-06-17 18:17] #129 closed

[2022-06-17 18:17] #130 closed

[2022-06-17 18:17] #131 closed

[2022-06-17 18:21] lukePeavey commented on #131
I am looking into this.

There is already an open issue for this problem: #132

[2022-06-17 18:23] lukePeavey commented on #130
I'm working on this. Thanks for reporting the problem.  I closed this as a duplicate of #132.

[2022-06-17 18:59] imanuelac commented on #131
We ran into the same here around 9AM EST today. We just addressed it on our end through a workaround (by removing the random quote API we use).

[2022-06-17 19:10] lukePeavey commented on #131
@imanuelac  thanks for the additional information.  I'm sorry for the hassle this caused.

I am still trying to figure out what caused this.

[2022-06-20 15:58] lukePeavey commented on #131
This issue was resolved.

[2022-06-20 19:27] lukePeavey commented on #63
Wanted to circle back on this...

Ideally, I think that the `author` property on the quotes returned by the API should be the embedded `Author` object, rather than the author name.   This way the complete author data would be included in the response from the quotes endpoints. But this would require a breaking change.

The current API does provide a way to get one or more quotes with the author de

[2022-06-24 07:21] shankarmadeshvaran opened #135 "Get Quoted by Genre(Eg: Motivation, Hardwork, Consistency, Money, Football, arts, etc.,)"
## Feature

For Each Quotes, add genre as parameter and we can filter based on it. I can see that tag is also used for same purpose but not exactly the same.

[2022-06-24 14:38] Gal1leo03 opened #136 "Application error on getting random quotes by tags"
I am getting an application error only when i request quotes based on tags, this used to work well yesterday and if im not wrong i think it worked in the morning (around 9am ist) too.

**To Reproduce**
1. Open an API client (Postman or Chrome)
2. Make the following API request > https://api.quotable.io/random?tags=history%7Ccivil-rights
3. (you get an application error but you don't get one on thi

[2022-06-24 16:18] damylolae commented on #136
I think their server is down, nothing seems working

[2022-06-24 22:11] lukePeavey commented on #136
Yes, it is.

[2022-06-24 22:11] lukePeavey commented on #136
Working on it

[2022-06-24 23:44] lukePeavey commented on #136
Fixed. Thanks for reporting.

[2022-06-24 23:45] lukePeavey commented on #136
Moving this to discussions area.

[2022-06-25 00:18] lukePeavey commented on #135
This is exactly what the tags feature was intended for.  It should have been called  "topics"  or "categories" instead of tags.  I would be in favor of renaming this parameter "topics".

However, the real problem is: for this feature to be useful, we need to add meaningful topics to all of the existing quotes.  I spent quite a bit of time working on this. But there are still ~ 1,200 quotes that do

[2022-06-25 03:38] Gal1leo03 commented on #135
Sign me up 😃🥳

[2022-06-25 03:39] Gal1leo03 commented on #135
Sign me up 🥳

[2022-06-25 05:58] lukePeavey commented on #135
@Gal1leo03 Awesome!  The data for the API is managed in a separate repository. It is stored as JSON files corresponding to each of the database collections (quotes, authors, tags).

- Fork and clone the [data repository](https://github.com/quotable-io/data)
- Create a new feature branch (ie adding tags)
- Unfortunately, the only way to add new tags to existing quotes is by manually editing the `da

[2022-06-27 04:15] lukePeavey commented on #63
I'm going to close this out since there has been any activity for a while.  If anyone has additional thoughts about this, feel free to start a Discussion.

[2022-06-27 04:15] #63 closed

[2022-06-30 15:47] gabegodoy commented on #104
@lukePeavey I'd love if Portuguese quotes were available too! I put myself on checking the translations btw.

PS: Brazillian Portuguese =D

[2022-07-04 11:17] raxraj commented on #135
Is this still open? Do you need me to get on in this one? @lukePeavey

[2022-07-04 11:19] raxraj commented on #104
Hindi -_-
I would say 24/30.

Some of them do make no sense in Hindi.

[2022-07-04 11:37] Gal1leo03 commented on #135
Hey, hope you are having a good day, I had exams going on so I could'nt code much, anyhow, I have added/changed topics for a quite some quotes, I pull open a pull request after going through some more quotes. You can continue after it maybe? (coz i won't be able to finish all the 1200 quotes. I am really sorry for the delay :(

[2022-07-04 14:09] lukePeavey commented on #135
@raxraj which part did you want to work on, adding tags to quotes or renaming the tags param?

[2022-07-04 14:13] lukePeavey commented on #135
@Gal1leo03 no need to apologize! Thanks for working on that. I'll merge your PR today.

[2022-07-04 14:30] lukePeavey commented on #104
Thanks! So 24 out of 30 still made sense and sounded ok in Hindi?

[2022-07-09 16:57] Oleg991JK opened #139 "API is down"
yes or no

[2022-07-09 17:00] Gal1leo03 commented on #139
Nope, i just checked and it seems to work.
I tried this ->  http://api.quotable.io/random

[2022-07-09 21:04] lukePeavey commented on #139
Yeah the api is not down right now. @Oleg991JK have you tried the API again since you opened this? Let me know if it's working for you now.

[2022-07-10 01:56] lukePeavey commented on #139
@Oleg991JK im going to close this since the api seems to be up now. Feel free to open another issue if you are still having trouble.

[2022-07-10 01:56] #139 closed

[2022-08-03 14:34] ashutosh-015 commented on #104
@lukePeavey Yes.

[2022-08-04 00:08] lukePeavey commented on #104
Or is that not what you meant?

[2022-08-21 20:18] humanfriend22 opened #140 "Better Documentation"
I just started to use this API for my app and I found navigating through all the documentation in one README file a little complicated. I suggest using a static site generator like [Docusaurus](https://docusaurus.io/) or [Redocly](https://redocly.com/).

I can submit a PR if you're onboard.

[2022-08-23 09:38] lukePeavey commented on #140
I was working a new documentation site powered by Stoplight. But haven't had time to finish it.

Quotable.stoplight.io

The documentation is generated from an openAPI schema and markdown files.  These are are in separate repository since they are not quite finished.

Let me know what you think

[2022-08-30 19:17] mgon123 opened #142 "API is down"
Attempting to use this for a bootcamp project, but it seems to be down. Will it be coming back up soon?

[2022-08-31 17:32] pea-nut-z commented on #16
@lukePeavey I am experiencing the following error message when connected to a particular network. Just like what @jastuccio had.

GET https://api.quotable.io/random net::ERR_NAME_NOT_RESOLVED

Please let me know if you need other info.

[2022-08-31 19:30] Gibo2706 opened #143 "API is down"

[2022-09-01 02:30] emmahsax commented on #142
Duplicate of https://github.com/lukePeavey/quotable/issues/143.

Also can confirm that the API is down for me.
![image](https://user-images.githubusercontent.com/7562793/187819518-a2a8cc86-1752-4e4e-aea2-7889d12f4d83.png)

[2022-09-01 02:30] emmahsax commented on #143
Duplicate of https://github.com/lukePeavey/quotable/issues/142.

Also can confirm that the API is down for me.
![image](https://user-images.githubusercontent.com/7562793/187819518-a2a8cc86-1752-4e4e-aea2-7889d12f4d83.png)

[2022-09-01 09:17] tomarnogueiracoding opened #144 "API is down"

[2022-09-01 10:45] Micoder-dev opened #145 "API is down"

[2022-09-01 11:11] KrishnaFlutura opened #146 "API is down"

[2022-09-01 14:48] tomarnogueiracoding commented on #144
Crazy thing is going on. If you use postman to test the api you get nothing because the server is down. But on my deployment on heroku and netifly all the get request are getting results from the api… I can’t even understand the logic of what is happening

[2022-09-02 12:14] KrishnaFlutura opened #147 "API is down"

[2022-09-03 06:23] sanamsta opened #148 "API is down"

[2022-09-04 18:24] Atef98 opened #149 "API is down"

[2022-09-05 09:18] KrishnaFlutura opened #150 "API is down"

[2022-09-05 10:07] Vishruth16 opened #151 "API is down"

[2022-09-05 14:00] aziham opened #152 "API is down"

[2022-09-05 23:23] tamusandesh99 opened #153 "API is down"

[2022-09-06 02:49] lukePeavey commented on #153
I'll look into this

[2022-09-06 03:10] lukePeavey commented on #142
# Fixed

[2022-09-06 03:11] #153 closed

[2022-09-06 03:16] lukePeavey commented on #153
closed as duplicate of #142

@tamusandesh99 this issue has been fixed, the API should be working again shortly.  Issue #142 is still open if you have additional comments/issues.

[2022-09-06 03:20] lukePeavey commented on #152
closed as duplicate of #142

@aziham the issue has been fixed. The API is back up.  Issue #142 is still open if you have additional comments

[2022-09-06 03:21] #152 closed

[2022-09-06 03:33] lukePeavey commented on #151
Closed as duplicate of #142

@Vishruth16 the problem has been fixed. API is back up.

[2022-09-06 03:33] #151 closed

[2022-09-06 03:33] lukePeavey commented on #150
Closed as duplicate of #142
@KrishnaFlutura the problem has been fixed. The API is back up. Sorry for the inconvenience

[2022-09-06 03:33] #150 closed

[2022-09-06 03:34] lukePeavey commented on #149
Closed as duplicate of #142
@Atef98 the problem has been fixed. The API is back up. Sorry for the inconvenience

[2022-09-06 03:34] #149 closed

[2022-09-06 03:34] lukePeavey commented on #148
Closed as duplicate of #142
@sanamsta  the problem has been fixed. The API is back up. Sorry for the inconvenience

[2022-09-06 03:34] #148 closed

[2022-09-06 03:34] #147 closed

[2022-09-06 03:36] lukePeavey commented on #146
Closed as duplicate of #142

[2022-09-06 03:36] #146 closed

[2022-09-06 03:37] lukePeavey commented on #145
Closed as duplicate of #142
@Micoder-dev  the problem has been fixed. The API is back up. Sorry for the inconvenience

[2022-09-06 03:37] #145 closed

[2022-09-06 03:38] lukePeavey commented on #143
Closed as duplicate of #142
@Gibo2706 This problem has been fixed. The API is back up now. Sorry for the inconvenience

[2022-09-06 03:38] #143 closed

[2022-09-06 03:47] Micoder-dev commented on #145
Thanks, it's working now❤️

[2022-09-06 04:03] lukePeavey commented on #144
@tomarnogueiracoding

The API was not totally down. The problem was an expired DNSSEC key. This has been fixed now.  Thanks for reporting

[2022-09-06 04:03] #144 closed

[2022-09-26 09:25] pncsoares opened #157 "API is down"
Hi 👋
I am trying to request API but it is returning 503
![image](https://user-images.githubusercontent.com/37508158/192241555-10b1f67d-1cce-4834-8148-99ebe2c2fc1f.png)

[2022-09-26 11:52] abhidadhaniya23 opened #158 "API is down, Use railway.app rather than Heroku"
To improve the performance of the whole application, I suggest using [railway.app](https://railway.app/) rather than deploying it on Heroku.

[2022-09-26 14:38] #158 closed

[2022-09-26 14:39] abhidadhaniya23 commented on #158
Fixed to errors

[2022-09-27 06:25] lukePeavey commented on #157
Thanks looking it

[2022-09-27 06:27] lukePeavey commented on #158
I'm not familiar with that service but I'll look into it.

[2022-09-27 06:30] #142 closed

[2022-09-27 06:52] pncsoares commented on #157
Thanks! 👍
Nice work

[2022-09-27 06:52] #157 closed

[2022-09-27 06:53] lukePeavey commented on #157
Thanks for reporting the issue

[2022-10-27 23:14] humanfriend22 commented on #140
Wow! This is exactly what I was looking for. I think I can close this now.

[2022-10-27 23:14] #140 closed

[2022-11-10 09:44] nodtem66 opened #159 "Unrelated: how to report the fake quotes?"
I accidentally found this one:

This quote is actually from an essay by G. K. Chesterton [ref 1](https://fakebuddhaquotes.com/i-do-not-believe-in-a-fate/), [ref 2](https://en.wikiquote.org/wiki/Gautama_Buddha#Misattributed), [ref 3](https://en.wikiquote.org/wiki/G._K._Chesterton)

Is there any idea to deal with invalid content in the database?
I think one way to do this is to report it in the GitH

[2022-11-11 10:31] lukePeavey commented on #159
Thanks for reporting this! I'll definitely fix that.

To answer your question:

The api data is managed in a separate repository (linked below). Contributions are definitely welcome. You can  suggest changes (such as adding/removing/editing quotes by opening an issues. Or make changes directly  via pull request.

https://github.com/quotable-io/data

[2022-11-11 21:56] #159 closed

[2022-11-21 19:53] EnvPlayz opened #161 "API is down"

[2022-11-21 20:31] lukePeavey commented on #161
Yes, it looks like the API is down right now. Thanks for reporting.

I will post an update as soon as I have more info.

[2022-11-21 20:36] lukePeavey commented on #161
The problem has been fixed. The site API should be back online shortly.

[2022-11-22 19:07] EnvPlayz commented on #161
Alr dope! and Thank you for taking time out of your day to solve problems for others!

[2022-11-22 19:07] #161 closed

[2022-11-25 20:00] FrozenSamurai opened #162 "API is down"
Heroku Server error on fetch request.

![image](https://user-images.githubusercontent.com/76254854/204050292-41943512-9ffe-4550-993f-164748a769b8.png)

[2022-11-25 20:27] abdelrahman-essawy commented on #104
@lukePeavey would be great if you can add Arabic, I would be happy to help!

[2022-11-25 21:16] alejandrardecajal commented on #162
Maybe is because Heroku is no longer free. Please, I need the quotes to work! thank you!

[2022-11-26 00:54] lukePeavey commented on #162
It's not deployed on free a server.

[2022-11-26 00:58] lukePeavey commented on #162
I'm not not sure why it's down, I'll look into it

[2022-11-26 00:58] lmeraki commented on #162
it's live now, thank you

[2022-11-26 01:31] alejandrardecajal commented on #162
Now it is down again.

[2022-11-26 04:02] lukePeavey commented on #162
Fixed, for now.

There has been some downtime today due to a significant increase in request volume. If this continues to be a problem we can add a rate limit or require some form of authentication to prevent abuse.

[2022-11-26 06:54] FrozenSamurai commented on #162
Thank you @lukePeavey

[2022-11-26 06:54] #162 closed

[2022-11-26 17:54] PLR2388 opened #163 "API is down"
The API is currently down. I try to access it via : https://api.quotable.io/random

Can you look at it?

Thank you :)

[2022-11-26 18:17] lukePeavey commented on #162
The api is down again, see #163 for updates

[2022-11-26 19:25] lukePeavey commented on #163
The API is currently down due to a high volume of automated requests that is overloading our server.   Our Atlas deployment doesn't have the resources to handle 15 million requests per day.  The hosting costs for this project are already way too high for a free API, so we cannot scale up.

For now the API will be down until further notice (possibly a few days) while I figure out what to do.  I thi

[2022-11-27 05:19] lukePeavey commented on #163
Adding a rate limit, currently 60 requests per minute (by IP address).  This will likely change. For now I am just trying to get the API up and running again...

[2022-11-27 05:21] lukePeavey commented on #163
If you are using this for a project that will be impacted by a rate limit, please open an issue (or discussion) and let me know.

[2022-11-29 01:47] lukePeavey opened #165 "Announcement: Added Rate Limit"
The API was down for several days last week due to a sudden increase in request volume.   On Friday morning, several IP addresses started flooding the API with thousands of requests per minute (> 10 million requests per day).   Its possible that these requests are coming from a legitimate project with a large number of users, but it seems unlikely.

Either way, our MongoDB Atlas deployment cannot

[2022-11-29 22:00] lukePeavey commented on #163
This issue has been resolved. There has not been any additional downtime since we added the rate limit a few days ago.

For updates or comments regarding the rate limit, please see issue #165.

Thanks to @PLR2388  and others for reporting this.

[2022-11-29 22:00] #163 closed

[2022-11-29 22:04] lukePeavey commented on #165
Also, if anyone has any feedback or suggestions regarding the rate limit, please feel free to comment. We will try to adjust it so that it has a minimal impact on people using the API

[2022-11-30 00:37] Vannerss commented on #104
Hello hope I can help out with some fixes to the spanish translation. This were the ones that immediately stood out to me, all the other ones seemed good, or at least good enough.

1: "Seguir, _sin tregua_, un objetivo: Ahí está el secreto del éxito." -> "Seguir, _sin parar_, un objetivo: Ahí está el secreto del éxito."

20: "El talento es dado por Dios; se humilde. La fama es dada por el hombre;

[2022-11-30 06:24] lukePeavey commented on #104
@Vannerss thanks for the feedback, that's really helpful.

If I translated the whole collection into Spanish, would you have any interest in editing some of them?